/* Your app custom styles here */
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-clr-primary {
  color: #B90B0B;
}
.bg-clr-primary {
  background: #B90B0B;
}
.app-shadow {
  box-shadow: rgba(90, 114, 123, 0.11) 0px 7px 30px 0px;
}
.sidebar-clr-primary {
  background: #B90B0B;
}
.sidebar-clr-primary:hover {
  background: #af0606;
}
.ripple-wave {
  background: transparent;
}